<div class="col-12">
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">
                {{dataValues.title}}
            </h5>
            <p class="card-text">{{dataValues.description}}</p>
        </div>
    </div>
</div>