<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <title>Home Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MusicFront</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/product/instrument/electric%20guitar">Electric Guitars<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/instrument/acoustic%20guitar">Acoustic Guitars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/instrument/bass%20guitar">Bass Guitars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/instrument/synthesizer">Synthesizers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            More...
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-link" href="/product/instrument/string%20instrument">Strings</a>
            <a class="dropdown-item nav-link" href="/product/instrument/woodwind">Woodwinds</a>
            <a class="dropdown-item nav-link" href="/product/instrument/brass">Brass</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-lg fa-search mr-2"></i>Search</button>
      </form>
      
      <div class="cart-btn">
        <span class="nav-icon">
          <button class="btn btn-outline-secondary ml-1">
          <i class="fa fa-lg fa-cart-plus mr-2"></i>
          Shopping Cart
        </span>
        <div class="cart-items d-inline border border-secondary rounded ml-2">0</div>
        </button>
      </div>
      
      <div class="cart-overlay">
        <div class="cart">
            <span class="close-cart">
             <i class="fa fa-window-close"></i>
            </span>
            <h3>Your Cart</h3>
          
        
          <div class="cart-content">
            <div class="cart-item">
              <img src="#" alt="placeholder">
              
              <div>
                <h5>Product 1</h5>
                <p>Price: </p>
                <span class="remove-item">Remove <i class="fa fa-sm fa-trash "></i></span>
              </div> 

              <div>
                <i class="fa fa-chevron-up"></i>
                <p class="item-amount">1</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>
          </div>
          

        <div class="cart-footer">
          <h3>Your Total: $<span class="cart-total"></span>0</h3>
          <button class="btn btn-outline-secondary checkout">Checkout</button>
          <button class="btn btn-outline-secondary clear-cart">Clear Cart</button>
        </div>

      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/js/links.js"></script>


  <script>
  
  const cartInfo = document.getElementById("cartInfo")
  const cartButton = document.getElementById("cartButton")
  const closeButton = document.getElementById("closeCart")

 
  
  </script>
</body>

</html>