<div class="container">
    <h1 class="display-4 msg">Welcome {{user.dataValues.firstName}}!</h1>

    <a href="/users/logout">
        <button class="btn btn-secondary">
            Log Out
        </button>
    </a>
</div>