<div class="container">
  <h1>{{msg}}</h1>
  <div class="col-auto">
    <div class="row">
      {{#each product}}
      {{> product-block}}
      {{/each}}
    </div>
  </div>
</div>


<script src="/js/index.js"></script>