<div class="container">
    <h1 class="display-1">{{product.[0].dataValues.name}}</h1>

    <h1 class="display-6">Description</h1>
    <div class="lead">{{product.[0].dataValues.description}}</div>
</div>