body {
  font-family: 'Quicksand', sans-serif;
}

a.product-link {
  color: black;
}

.list-group-item {
  line-height: 2.5;
  background: #ffffff;

}

.cart {
  position: absolute;
  min-height: 10rem;
  background-color: whitesmoke;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in;
  width: 0;
  overflow: hidden;
  border: solid 1px gray;
}

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg)
}

.product-list {
  list-style: none;
}

.cartItems {
  color: gray;
  padding: 4px;
  opacity: 100%;
  background-color: whitesmoke
}